# TWITTER APP API ACCESS
TWITTER_CONSUMER_KEY=YOUR TWITTER APP API KEY
TWITTER_CONSUMER_SECRET=YOUR TWITTER APP API KEY SECRET

# MONGO DB CONNECTION
MONGO_URL=mongodb://username:password@localhost:27017/

# EXPRESS SESSIONS
SESSION_SECRET=INSERT_SESSION_SECRET_HERE

# JWT
JWT_SECRET=INSERT_SESSION_SECRET_HERE
